.footer {
  background-color: #4153ff;
  color: white;
  .socialMedia {
    text-align: center;
    text-decoration: none;
  }
  .footer__content {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;
    padding: 50px;
    .TitleFooter {
      font-size: 1.2rem;
    }
    .quraniyahtext {
      font-size: 1rem;
      inline-size: 300px;
      overflow-wrap: break-word;
      line-height: 1.625rem;
      box-sizing: border-box;
    }
    .ProgrammeTarifs {
      display: flex;
      flex-direction: column;
      color: white;
      a {
        text-decoration: none;
      }
    }
  }
  .copyright {
    text-align: center;
  }
}
