/********** ModalsPresentation ********/

.modalsPresentation {
  background-color: cadetblue;
  .modalsPresentation__Box {
    max-width: 800px;
    margin: 0 auto;
  }
  .modalsPresentation__Box h2 {
    text-align: center;
  }
}
