<!-- <section class="vp">
  <div class="vp-content">
    <div class="banner">
      <img src="../../../assets/img/img1.jpg" alt="" class="imgcontent" />
      <div>
        <h1>Illumine ton Coeur par la quête du Savoir</h1>
        <p>D'après Mu'âwiya:</p>
        <p>
          "Lorsque Dieu veut le bien à un serviteur, Il lui octroie la
          compréhension de la religion."
        </p>
      </div>
    </div>
  </div>
 <button mat-flat-button class="button">Basic</button> -->
<!-- </section>  -->
